/* css for the password strength javascript add-on */
div.password-strength {
  width: 150px;
  height: 10px;
  display: inline-block;
}
span.bar {
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #e10;
}