/* css for the password strength javascript add-on */
div.password-strength {
  width: 152px;
  height: 5px;
  padding:1px;
  display: inline-block;
  border: 1px solid #ccc;
}
span.bar {
  display: inline-block;
  width: 1px;
  height: 3px;
  background-color: #e10;
  margin-top: 1px;
}