/* css for the password strength javascript add-on */
div.password-strength {
  width: 152px;
  height: 5px;
  padding:1px;
  display: inline-block;
  position: absolute;
  margin-left: 10px;
}
div.bar {
  width: 1px;
  height: 3px;
  background-color: #e10;
  margin: 4px 0 3px;
}
.password-strength .strong {
    display: none;
}