body {
    background-color: #666666;
    padding: 0 20px;
}
#body-wrapper {
    max-width: 980px;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 20px;
    margin: 20px auto;
}
.navbar,
.nav {
    width: 100%;
}
#footer {
    max-width: 1020px;
    margin: 0 auto;
}

/* forms */
label {
    font-weight: bold;
}
input,
textarea {
    width: 400px;
}
.form-horizontal .control-label {
    padding-top: 4px;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input  {
    height: 30px;
    margin-bottom: 5px;
}
.form-actions {
    background-color: transparent;
    border: none;
    padding: 0;
}

#profile-form #item-deformField6 label,
#profile-form #item-deformField6 div {
    display: inline;
}