body {
    background-color: #666666;
    padding: 0 20px;
}
#body-wrapper {
    max-width: 980px;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 20px;
    margin: 20px auto;
}
.navbar,
.nav {
    width: 100%;
}